/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav-customized {
  display: flex;
  justify-content: space-between;
  background: grey;
  height : 30px;
}

  .cards {
  height: 300px;
  display : flex;
  justify-content: space-around;
}

 .card {
  width: 25%;
  margin: 20px;
  height: 300px;
  border: 2px solid grey;
 }

 .card-info {
  background: grey;
  height: 200px;
 }

  .div-price-number {
  background: grey;
  height: 50px;
 }

 .price-number {
  list-style: none;
  display: flex;
  justify-content: space-around;
 }

 .show-description, .show-title, .book, .details {
  border : 2px solid grey;
  border-radius: 5px;
  margin: 10px;
 }


